@import 'footer.css';

header {
	background-color: #1c79a1;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
}

header img {
	max-height: 100%;
	max-width: 100%;
}

h1 
{
	font-size: 24px;
	margin-top: 10px;
	text-align: center;
}

.contenaire {
	display: flex;
	flex-direction: column; /* l'axe principal du conteneur flexible. Ici, nous avons défini cet axe principal sur column, ce qui signifie que les éléments enfants seront disposés en colonne*/
	align-items: center; /*les éléments enfants seront centrés horizontalement dans le conteneur.*/
	margin-top: 50px; /* espace vide de 50 pixels entre le bord supérieur de la fenêtre du navigateur et le conteneur*/
}

.rectangle {
	width: 60%; /*l'élément remplira 60% de l'espace horizontal disponible.*/
	background-color: #f5f5f5;
	padding: 1.5%; /*proportion d'espace entre le contenu de l'élément et ses bords.*/
	margin-top: 20px;
	border: 1px solid #ccc; /*épaisseur des bords*/
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
footer 
{
    position: sticky;
}

h2 {
	margin-top: 0px;
}

p {
	margin: 10px 0px;
}

button {
	background-color: #008CBA;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 20px;
	cursor: pointer;
}

button:hover {
	background-color: #006F8C;
}

body {

	font-family: Arial, sans-serif;
}