.nvbar{
    width: 90%;
    margin: 0;
    padding: 50px 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
    cursor: pointer;
  }
  .nvbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position:relative;
  }
  .nvbar ul li a{
    text-decoration: none;
    font-weight: bold;
    color:currentColor;
    text-transform: uppercase;
  }
  .nvbar ul li ::after{
    content: '';
    height: 3px;
    width:100%;
    background: #009688;;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition:1s;
    cursor: pointer;
  }
  .nvbar ul li:hover::after{
    width:100%;
  }
  .logo{
    width: 150px;
    height: 150px;
    border-radius:75px ;
    margin: 0px 50px; ;
    cursor: pointer;
  }
  .product {
	width: 400px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
    background-color: white;
    text-align: center;
}

.product img {
	width: 400px;
	margin-bottom: 10px;
}

.product h2 {
	font-size: 16px;
	margin-bottom: 10px;
}

.product p {
	font-size: 14px;
	margin-bottom: 10px;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;

}
button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkgreen;
  }
  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
  }
  
  input[type="text"] {
    width: 25%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  select {
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  