@import 'footer.css';

header 
{
	background-color: #1c79a1;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
}

header img {
	max-height: 100%;
	max-width: 100%;
}

.groscarre {
    max-width: 700px;
    margin: 0 auto; /* marge de 0 pixels sur le haut et le bas de l'élément, et une marge automatique sur les côtés gauche et droit. La valeur auto appliquée aux marges horizontales centreront l'élément sur la page*/
    padding: 20px;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 
    padding: 1em;
    margin-bottom: 2em;
}

/* Donne un style au titre du fieldset */
legend {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

/* Donne un style aux champs de formulaire */
input[type="text"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Donne un style au bouton de soumission */
input[type="submit"] {
    border: 0;
	padding: 10px 20px;
	color: #fff;
	border-radius: 4px;
	font-size: 16px;
	font-family: Arial, sans-serif;
	cursor: pointer;
    background-color: #008CBA;
    color: #fff;
}

/* Donne un style aux champs de formulaire en erreur */
input:invalid
{
    border-color: #f00;
}

form
{  /*display: grid et grid-template-columns: 1fr 1fr créent une grille avec deux colonnes de largeur égale. La propriété grid-gap: 20px ajoute un espace de 20 pixels entre les cellules de la grille.*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

fieldset:nth-of-type(1) label,
fieldset:nth-of-type(1) input
 {
    grid-column: 1 / 2;
}

fieldset:nth-of-type(2) label,
fieldset:nth-of-type(2) input {
    grid-column: 2 / 3;
}

footer
{
    position: sticky;
}

